<%= render partial: 'books/books_new', locals: { book: @book_new } %>

<h2>Users</h2>

<table>
  <tr>
    <th>image</th>
    <th>name</th>
    <th></th>
  </tr>
  <% @userList.each do |user| %>
    <tr>
      <td><%= image_tag user.get_profile_image(100,100) %></td>
      <td><%= user.name %></td>
      <td>
        <%= link_to user_path(user.id) do %>
          Show
        <% end %>
      </td>
    </tr>
  <% end %>
</table>